.product__item__pic{
    background-repeat: no-repeat ;
}
.fa-star-o{
    content: "\f006";
}
.nr{
    background-repeat: no-repeat;
}
.elem{
    border-radius: 25px;
    background-color:#e53637 ;
}
#lista > .row{
    border-radius: 25px;
    background-color:white ;
    margin-top: 30px;
}
.kep{
padding: 10px;

}
.kep > img{
    border-radius: 25px;
    height: 100px;
    width: 200px;
    object-fit: cover;

}
.adat{

    padding-top: 20px;
}
.nevek{
    font-weight: bold;
    font-size: 2vh;
    color: #e53637!important;
}
.arak{
    color: black;
    font-weight: bold;
}
.feketeh{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;

}
.mennyiseg{
    padding-top: 40px;
    padding-left: 200px!important;
    color: #e53637;
    font-weight: bold;
}
button{
    border-radius: 4px!important;
    color: #e53637;
    background-color: black;
    font-weight: bold;

    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
#kosar{
    display: none;
    min-height: 100vh;
}
html{
    min-height: 100vh;
}
#osszegzes{
    padding-top: 70px;
    color: #e53637;
    text-align: center;
}
